<div class="card">
  <li class="item">
    <div class="image">
      <%= image_tag "#{bookmark[:imageURL]}", alt: "#{bookmark[:title]}" %>
    </div>
    <div class="content">
      <h3><%= bookmark[:title] %></h3>
      <address><%= bookmark[:address] %></address>
      <p><%= bookmark[:description] %></p>
    </div>
    <div class="actions">
      <%= link_to "Mark as Favorite", edit_bookmark_path(bookmark) %>
      <%= link_to "Update Bookmark", edit_bookmark_path(bookmark) %>
      <%= link_to "Delete Bookmark",
      bookmark_path(bookmark),
      data: {
        "turbo-method": :delete,
        "turbo-confirm": "Are you sure you want to delete this bookmark?"
      } %>
    </div>
  </li>
</div>
