<div class="card">
  <% if @bookmark.errors.any? %>
    <h2>The following errors prevented the data from being saved</h2>
    <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @bookmark, method: :post, class: "form" do |f| %>
    <div class="control">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="control">
      <%= f.label :imageURL %>
      <%= f.text_field :imageURL %>
    </div>
    <div class="control">
      <%= f.label :address %>
      <%= f.text_area :address %>
    </div>
    <div class="control">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
